html {
    font-style: normal;
    font-weight: 400;
    line-height: 1.45;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scroll-behavior: smooth;
}

/* @media (max-width: var(--screen-md)) and (pointer: coarse) {
	html {
		font-size: 18px;
	}
} */

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
pre {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
    line-height: inherit;
}

h1,
h2,
h3,
h4 {
    /* font-size: 1em; */
    font-weight: normal;
    text-wrap: balance;
}

p,
li,
.intro-text,
dd {
    text-wrap: pretty;
}

input,
button,
textarea,
select {
    font: inherit;
}

iframe {
    background-color: transparent;
}

:target {
    position: relative;
    scroll-margin-block: 10rem;

    &::before {
        display: block;
        position: absolute;
        top: 50%;
        left: -1rem;
        translate: -50% -50%;
        animation-duration: 0.6s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-delay: 0.3s;
        animation-fill-mode: backwards;
        animation-name: expand;
        border-radius: 999px;
        background-color: var(--text-color);
        width: 0.5rem;
        height: 0.5rem;
        content: '';
    }
}

@keyframes expand {
    from {
        translate: -50% -50%;
        scale: 0;
    }

    to {
        translate: -50% -50%;
        scale: 1;
    }
}
