@use '../styles/vars.scss';

html {
    font-style: normal;
    font-weight: 400;
    line-height: 1.45;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scroll-behavior: smooth;
}

// @media (max-width: vars.$screen-md) and (pointer: coarse) {
// 	html {
// 		font-size: 18px;
// 	}
// }

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
pre {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
    line-height: inherit;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
    // font-size: 1em;
    font-weight: normal;
}

p,
li,
.intro-text,
dd {
    text-wrap: pretty;
}

input,
button,
textarea,
select {
    font: inherit;
}

iframe {
    background-color: transparent;
}

:target {
    scroll-margin-block: 10rem;
    position: relative;

    &::before {
        content: '';
        display: block;
        height: .5rem;
        width: .5rem;
        left: -1rem;
        top: 50%;
        translate: -50% -50%;
        background-color: var(--text-color);
        border-radius: 999px;
        position: absolute;
        animation-duration: .6s;
        animation-name: expand;
        animation-fill-mode: backwards;
        animation-delay: .3s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}


@keyframes expand {
    from {
        translate: -50% -50%;
        scale: 0;
    }

    to {
        translate: -50% -50%;
        scale: 1;
    }
}