@use '_vars.scss';

:root {
	--color-background: url(200-20-5-monochrome.png), #fbfbf9;
	--color-text: #303030;
	--color-text-low-contrast: #8f8f8f;
	--color-highlight: #ffbb0b;

	/* TYPO */
	--font-stack: 'Sofia Pro', system-ui;
	/* GENERAL STYLES */
	color: var(--color-text);

	// BREAKPOINTS
	--screen-sm: 640px;
	--screen-md: 768px;
	--screen-lg: 1024px;
	--screen-xl: 1280px;
	--screen-2xl: 1536px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: url(200-20-5-monochrome.png), #161612;
		--color-text: #e7e7e7;
		--color-text-low-contrast: #696969;
		--color-highlight: #ffbb0b;
	}
}

.color-text {
	color: var(--color-text);
}

.color-text-low-contrast {
	color: var(--color-text-low-contrast);
}

p,
.text-regular,
.text-regular h2 {
	font-family: var(--font-stack);
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

.text-regular h2 {
	margin-top: 3px;
	margin-bottom: 3px;
}

h1,
.text-large,
.text-large p {
	font-family: var(--font-stack);
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 35px;
}

h1,
h2,
h3,
h4,
.text-large p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

a {
	color: var(--text-color);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.text {
	a {
		text-decoration: underline;
	}
}

@media (max-width: vars.$screen-md) {
	h1,
	.text-large,
	.text-large p {
		font-size: 22px;
		line-height: unset;
	}
}
