@use '_vars.scss';
@use '_fonts.scss';

:root {
	--color-background: url(200-20-5-monochrome.png), #fbfbf9;
	--color-text: #303030;
	--color-text-transparent: #3030309e;
	--color-text-low-contrast: #8f8f8f;
	--color-highlight: #ffbb0b;
	--color-link: #0c93ec;
	--color-link-visited: #840be0;

	/* TYPO */
	--font-stack: 'SofiaPro', system-ui;
	/* GENERAL STYLES */
	color: var(--color-text);
	font-family: var(--font-stack);

	// BREAKPOINTS
	--screen-sm: 640px;
	--screen-md: 768px;
	--screen-lg: 1024px;
	--screen-xl: 1280px;
	--screen-2xl: 1536px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: url(200-20-5-monochrome.png), #161612;
		--color-text: #c9c9c9;
		--color-text-transparent: #e7e7e79e;
		--color-text-low-contrast: #696969;
		--color-highlight: #ffbb0b;
		--color-link: #6bb7f5;
		--color-link-visited: #c078f7;
	}

	img,
	video,
	iframe {
		filter: brightness(0.8);
	}
}

* {
	box-sizing: border-box;
}

iframe {
	background-color: transparent;
}

.color-text {
	color: var(--color-text);

	a {
		color: var(--color-text);
	}
}

.color-text-low-contrast {
	color: var(--color-text-low-contrast);
	a {
		color: var(--color-text-low-contrast);
	}
}

.position--relative {
	position: relative;
}

.m-left--auto {
	margin-left: auto;
}

.grid--full {
	grid-column: 1/-1;
}

p,
.text-regular,
.text-regular h2 {
	font-style: normal;
	// TODO: Add 500 font weight
	font-weight: 400;
	font-size: 1rem;
	// margin-top: 0.25em;
	// margin-bottom: 0.25em;
}

.text-regular h2 {
	margin-top: 3px;
	margin-bottom: 3px;
}

h1 {
	margin-top: 0;
}

.text-large,
.text-large p,
.text-large h1 {
	font-style: normal;
	// TODO: Add 500 font weight
	font-weight: 400;
	font-size: 1.625rem;
	line-height: 1.6em;
}

h2,
h3,
h4,
.text-large p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

sup {
	line-height: 0;

	a {
		padding: 0.25rem;
		text-decoration: none;
		border-bottom: 1px solid;
	}
}

.list--horizontal {
	list-style: none;
	margin: 0;
	padding: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	li {
		margin-block: 2px;
	}
}

blockquote {
	border-left: 2px solid;
	margin: 2rem 0;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	position: relative;

	// &::before,
	// &::after {
	// 	content: '"';

	// 	font-size: 3rem;
	// 	position: absolute;
	// }

	// &::after {
	// 	top: 0;
	// 	left: 0;
	// }

	// &::before {
	// 	bottom: 0;
	// 	right: 0;
	// }

	* {
		margin: 0 !important;
	}
}

@media (max-width: vars.$screen-md) {
	.list--horizontal {
		display: block;
		li:last-of-type {
			margin-left: unset;
		}
	}
}

.highlight-star {
	font-size: x-large;
	color: var(--color-highlight);
	cursor: default;
}

.highlight-star-position {
	position: absolute;
	transform: translate(10%, -10%);
}

@media (max-width: vars.$screen-md) {
	p,
	.text-regular,
	.text-regular h2 {
		font-size: 1.125rem;
	}

	.text-large,
	.text-large p,
	.text-large h1 {
		font-size: 1.375rem;
		line-height: 1.5em;

		// line-height: 2rem;
		// font-size: 22px;
		// line-height: unset;
	}
}

// openmoji special
.openmoji-iframe {
	padding: 56.25% 0 0 0;
	position: relative;
}

@media (max-width: vars.$screen-md) {
	.openmoji-iframe {
		padding: 150% 0 0 0;
		position: relative;
	}
}
