---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;

console.log(href);
console.log(body);
---

<aside class="link-card">
	<a href={href}>
		{title !== '' && <h2>{title}</h2>}
		{
			(body !== undefined && (
				<p>
					{body} <span>&rarr;</span>
				</p>
			)) || (
				<p>
					{href} <span>&rarr;</span>
				</p>
			)
		}
	</a>
</aside>

<style lang="scss">
	.link-card {
		border: 1px solid var(--color-text);
		border-radius: 2px;
		margin: 2rem 0;
	}

	p {
		margin: 0;
	}
</style>
