---
export interface Props {
	classList?: string;
	src: string;
	alt: string;
}

const { classList = 'company-logo', src = '', alt = '' } = Astro.props;
---

<span><img {src} class={classList} {alt} /><slot /></span>

<style lang="scss">
	@use '../styles/vars.scss';

	img {
		position: absolute;
		margin-inline-start: -1.5em;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		background-color: var(--bg-color-elev-0);
		aspect-ratio: 1;
		height: 1.25em;
		object-fit: contain;

		@media (max-width: vars.$screen-sm) {
			height: 1.5em;
		}
	}

	span {
		position: relative;
		margin-inline-start: 1.6em;
		// color: var(--text-color);
		text-wrap: nowrap;
	}

	.company-logo {
		border-radius: 4px;
		padding: 0.25rem;
	}
</style>
