---
import { SITE } from '@config';

import Layout from '../../layouts/Layout.astro';
import Nav from '@components/Nav.astro';

let pageTitle = 'Curriculum Vitae';
---

<Layout
	pageTitle={pageTitle + ' • ' + SITE.titleShort}
	pageDescr={'Browse all professional projects that I was part of in chronological order. This list is incomplete, reach out to discuss these and other projects in more detail.'}>
	<Nav navItems={[{ url: '/cv', title: pageTitle }]} />

	<div class="post-content">
		<h1>Lebenslauf – Kai Magnus Müller</h1>

		<div class="contact-info">
			<p>Hildebrandstraße 25, 70191 Stuttgart</p>
			<p>E-Mail: kaimagnusmueller@live.de, Tel. 0176/42013358, Web: www.kaimagnus.de</p>
		</div>

		<h2>Wichtigste Kenntnisse und Erfahrung</h2><ul>
			<li>UX/UI Designer mit Fokus auf komplexe Sachverhalte und Verständnis für Technik</li>
			<li>Abgeschlossenes Bachelorstudium der Interaktionsgestaltung an der HfG Schwäbisch Gmünd</li>
			<li>Auslandssemester an der Tokyo Zokei University</li>
			<li>
				Fünf- und sechsmonatige Praktika als Interaktionsgestalter bei precious design, Hamburg und Intuity
				Media Lab, Stuttgart
			</li>
			<li>Drei Semester Informatikstudium an der Universität Stuttgart</li>
			<li>Fähig in interdisziplinären Teams zu arbeiten</li>
			<li>Selbstständig, verlässlich und sorgfältig</li>
		</ul>

		<h2>Berufliche Laufbahn</h2>

		<ul class="vita-grid-list">
			<div class="vita-item">
				<span class="date">06/2021 – aktuell</span>
				<div class="content">
					<h3>UX/UI Designer bei Syncier und Kaiser X Labs (Teile der Allianz Gruppe</h3>
					<ul>
						<li>
							Teil des internen “Digital Product Lab” Teams
							<ul>
								<li>
									Tätigkeiten waren Identifizierung, prototyping und Validierung von neuen Produkten
									und Geschäftsfeldern für die Allianz
								</li>
								<li>Fokus auf Tools für Vertreter, Automatisierung und AI</li>
							</ul>
						</li>
						<li>
							Verschiedene Projekte für Investment Data Services (Allianz), Tätigkeiten im Bereich User
							Research, (Lead) UI/UX Design und Begleitung der Entwicklung
						</li>
					</ul>
				</div>
			</div>
			<div class="vita-item">
				<span class="date">03/2022 – aktuell</span>
				<div class="content">
					<h3>
						Dozent für Interaktive Kommunikationssysteme I (IKS), Hochschule für Gestaltung Schwäbisch Gmünd
					</h3>
					<ul>
						<li>Konzeption der Lehrveranstaltung, Vorlesungen und Betreuung von Projektgruppen</li>
					</ul>
				</div>
			</div>
			<div class="vita-item">
				<span class="date">02/2022 – aktuell</span>
				<div class="content">
					<h3>Diverse eigene Projekte</h3>
					<ul>
						<li>Entwicklung von Figma Plugins (Tree Navigator, Icon Library Manager)</li>
						<li>
							Konzeption und Entwicklung eines Exponats zur Sonderausstellung „100% Baumwolle“ (Okt 2022 –
							Apr 2023), Überseemuseum Bremen
						</li>
						<li>
							Konzeption und Entwicklung einer Web-App für bookmarking und Knowledge Management (Jul 2023
							– aktuell)
						</li>
					</ul>
				</div>
			</div>
		</ul>

		<h2>Bildung</h2>
		<ul class="vita-grid-list">
			<li class="vita-item">
				<span class="date">03/2016 – 08/2020</span>
				<div class="content">
					<h3>
						Abgeschlossenes Studium der Interaktionsgestaltung BA, Hochschule für Gestaltung Schwäbisch
						Gmünd
					</h3>
					<p>Gesamtnote: 1,4</p>
				</div>
			</li>
			<li class="vita-item">
				<span class="date">03/2019 – 07/2019</span>
				<div class="content">
					<h3>Auslandssemester an der Tokyo Zokei University</h3>
				</div>
			</li>
			<li class="vita-item">
				<span class="date">09/2018 – 02/2019</span>
				<div class="content">
					<h3>Praktikum bei Intuity Media Lab, Stuttgart</h3>
				</div>
			</li>
			<li class="vita-item">
				<span class="date">03/2018 – 07/2018</span>
				<div class="content">
					<h3>Praktikum bei precious design, Hamburg</h3>
				</div>
			</li>
			<li class="vita-item">
				<span class="date">10/2013 – 03/2015</span>
				<div class="content">
					<h3>Drei Semester Studium der Informatik B.Sc., Universität Stuttgart</h3>
				</div>
			</li>
			<li class="vita-item">
				<span class="date">07/2013</span>
				<div class="content">
					<h3>Abitur, Evangelisches Mörike Gymnasium Stuttgart</h3>
					<p>Gesamtnote: 3</p>
				</div>
			</li>
		</ul>

		<h2>Bildung</h2>
		<ul class="vita-grid-list">
			<li class="vita-item">
				<span class="date">Sprachen</span>
				<div class="content">
					<p>Deutsch (Muttersprache)</p>
					<p>Englisch (flüssig)</p>
				</div>
			</li>
			<li class="vita-item">
				<span class="date">UX/UI Design</span>
				<div class="content">
					<p>UX Research und Design; Design Systeme; Workshops (Planung und Durchführung)</p>
				</div>
			</li>
			<li class="vita-item">
				<span class="date">IT-Kenntnisse</span>
				<div class="content">
					<p>
						Design und prototyping Tools (Figma, Sketch, XD); Web Development (Svelte und Astro);
						Datenbanken basierend auf SQLite (Pocketbase); Hosting und Deployment (Vercel und Cloudflare);
						Lokale und Webbasierte AI (Cloudflare AI und ollama)
					</p>
				</div>
			</li>
		</ul>
	</div>

	<style lang="scss">
		// h2,
		// p,
		// li {
		// 	max-width: 34rem;
		// }

		.contact-info {
			margin-block-start: 2rem;
		}

		h2 {
			margin-block-start: 3rem;
		}

		h3 {
			font-size: var(--font-size-regular);
			text-wrap: unset;
		}

		ul {
			padding-inline-start: 1.25rem;
			list-style-type: '–  ';
		}

		li {
			margin-block: 0.125rem;
		}

		.vita-grid-list {
			display: grid;
			grid-template-columns: 1fr 3fr;
			gap: 1rem;
			margin: 0;
			padding: 0;
		}

		.vita-item {
			display: grid;
			grid-template-columns: subgrid;
			grid-column: 1 /-1;

			.date {
			}

			.content {
				h3 {
					margin-block-start: 0;
				}
			}
		}
	</style>
</Layout>
