---
import '@styles/styles.scss';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style lang="scss" is:global>
	@import '../styles/_vars.scss';

	html {
		background: var(--color-background);
	}
	body {
		max-width: var(--screen-lg);
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		margin: auto;
		padding: 0 128px;
	}

	@media (max-width: $screen-md) {
		body {
			padding: 0 32px;
		}
	}
</style>
