---
export const prerender = true;
import '@styles/styles.scss';
import { SITE } from '@config';
export interface Props {
	pageTitle: string;
	pageDescr: string;
}

const { pageTitle = SITE.title, pageDescr = SITE.desc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<meta name="description" content={pageDescr} />
		<meta name="author" content={SITE.author} />
		<meta name="color-scheme" content="light dark" />
		<meta name="generator" content={Astro.generator} />

		<title>{pageTitle}</title>
	</head>
	<body>
		<slot />
		<footer class="color-text-low-contrast">
			<span>Kai Magnus Müller – <time>{new Date().getFullYear()}</time></span>
			<ul class="list--horizontal">
				<li><a href="http://github.com/kaimagnusmueller">GitHub</a></li>
				<li><a href="./rss.xml">RSS</a><sup>beta</sup></li>
				<li><a href="http://www.twitter.com/_kaimagnus">Twitter</a></li>
				<li><a href="https://www.linkedin.com/in/kai-magnus-m%C3%BCller-25a176207/">LinkedIn</a></li>
			</ul>
		</footer>
	</body>
</html>
<style lang="scss" is:global>
	@import '../styles/_vars.scss';

	html {
		background: var(--color-background);
		padding: 0 8rem;
	}
	body {
		max-width: $screen-lg;
		position: relative;
		margin: auto;
	}

	footer {
		margin: 8rem 0 1rem;
		display: flex;
		gap: 2rem;
		align-items: baseline;
	}

	@media (max-width: $screen-md) {
		html {
			padding: 0 1rem;
		}

		footer {
			flex-direction: column;

			span {
				order: 1;
			}
		}
	}

	@media (pointer: coarse) {
		footer a {
			line-height: 1.8em;
			display: inline-block;
		}
	}
</style>
