---
import { SITE } from '@config';
import Layout from './Layout.astro';

export interface Props {
	pageTitle: string;
	pageDescr: string;
	entryCollection: string;
	ogImage: string | undefined;
}

const { pageTitle, pageDescr, entryCollection, ogImage } = Astro.props;
---

<Layout pageTitle={pageTitle + ' • ' + SITE.titleShort} pageDescr={pageDescr} {ogImage}>
	<nav class="color-text-low-contrast">
		<a href="/">Home</a> /
		{entryCollection !== undefined && <a href={`/${entryCollection}`}>{entryCollection}</a>}
	</nav>
	<article class="post-content">
		<slot />
	</article>
</Layout>

<style lang="scss" is:global>
	@import '../styles/_vars.scss';

	.post-content {
		margin-top: 2rem;
		width: 100%;
		word-break: break-word;
		// font-size: 1.125rem;

		h2,
		h3,
		h4,
		h5 {
			width: fit-content;
			font-weight: 600;
		}

		// part of the articles and project pages
		.course-data {
			display: flex;
			flex-wrap: wrap;
			gap: 0 1rem;
			margin-top: 0.5rem;
			margin-bottom: 2rem;
			// line-height: 1;

			// span {
			// 	padding: 0.125rem 0.625rem;
			// 	border-radius: 2px;
			// 	background-color: #7f7f7f19;
			// 	// border: 1px solid #7f7f7f53;
			// }
		}

		& > *,
		figcaption {
			max-width: 34rem;
			// margin-left: 0;
			// margin-right: auto;
		}

		div,
		.full-width-reset,
		h1,
		iframe {
			max-width: unset;
		}

		p {
			margin-top: 0.35em;
			margin-bottom: 1em;
		}

		img,
		video,
		iframe {
			position: relative;
			box-shadow: 0 2px 8px #0000002b;
			// outline: 2px solid rgba(0, 0, 0, 0.1);
			// outline-offset: -2px;
			border-radius: 2px;
			overflow: clip;
		}

		a {
			color: var(--color-link);

			&:visited {
				color: var(--color-link-visited);
			}
		}

		.footnotes {
			margin-top: 4rem;
			border-top: 1px solid var(--color-text-low-contrast);
			padding-top: 1rem;
		}
	}

	@media (max-width: $screen-md) {
		.post-content {
			& > *,
			figcaption {
				max-width: unset;
			}
		}
	}

	h1,
	h2,
	h3,
	h4 {
		margin-top: 2.25rem;
		margin-bottom: 0.75rem;
	}

	h1:hover,
	h2:hover,
	h3:hover,
	h4:hover {
		.anchor-link {
			visibility: visible;
			opacity: 1;
		}
	}
	.anchor-link {
		transition: opacity 0.2s ease;
		margin-left: 0.5rem;
		width: 20px;
		height: 20px;
	}

	@media (hover: hover) {
		.anchor-link {
			visibility: hidden;
			opacity: 0;
		}
	}
</style>
