---
import { SITE } from '@config';
import Layout from './Layout.astro';

export interface Props {
	pageTitle: string;
	pageDescr: string;
	entryCollection: string;
}

const { pageTitle, pageDescr, entryCollection } = Astro.props;
---

<Layout pageTitle={pageTitle} pageDescr={pageDescr}>
	<nav class="color-text-low-contrast">
		<a href="/">Home</a> /
		{entryCollection !== undefined && <span>{entryCollection}</span>}
	</nav>
	<article class="post-content">
		<slot />
	</article>
</Layout>
<style lang="scss" is:global>
	@import '../styles/_vars.scss';

	nav {
		grid-column: 1/-1;
		margin: 1rem 0 0;
		display: flex;
		gap: 1rem;

		a,
		span {
			text-transform: capitalize;
		}
	}

	.post-content {
		width: 100%;
		margin-top: 2rem;
		word-break: break-word;
		// font-size: 1.125rem;

		h2,
		h3,
		h4,
		h5 {
			font-weight: 600;
			margin: 0;
		}

		// part of the articles and project pages
		.course-data {
			margin-bottom: 2rem;
			margin-top: 0.4rem;
			display: flex;
			gap: 0 1rem;
			flex-wrap: wrap;
		}

		// part of the articles and project pages
		h1 {
			font-weight: 700;
			font-size: 3rem;
			margin-bottom: 0rem;
			line-height: 1.2;
			margin-left: -0.1rem;
		}

		// Currently all elements that should be full size are also divs, so this is easy.
		& > *:not(div, .full-width-reset, h1),
		figcaption {
			max-width: 58ch;
			line-height: 1.5;
			margin-left: 0;
			margin-right: auto;
		}

		p {
			margin-top: 0.35em;
			margin-bottom: 1em;
		}

		img,
		picture,
		video {
			border-radius: 2px;
			overflow: clip;
		}

		a {
			color: var(--color-link);

			&:visited {
				color: var(--color-link-visited);
			}
		}

		.footnotes {
			margin-top: 4rem;
			padding-top: 1rem;
			border-top: 1px solid var(--color-text-low-contrast);

			.heading-wrapper {
				display: none;
			}
		}
	}

	@media (max-width: $screen-md) {
		.post-content {
			& > *:not(div, .full-width) {
				max-width: 100%;
			}
		}
	}

	.heading-wrapper {
		margin-top: 2em;
		margin-bottom: 0.25em;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 12px;

		a,
		a:visited {
			color: var(--color-text-low-contrast);
		}
	}

	.heading-wrapper:hover .anchor-link {
		visibility: visible;
		opacity: 1;
	}

	.anchor-link {
		width: 20px;
		height: 20px;
		transition: opacity 0.2s ease;
	}

	@media (hover: hover) {
		.heading-wrapper {
			a,
			a:visited {
				color: var(--color-text);
			}
		}
		.anchor-link {
			visibility: hidden;
			opacity: 0;
		}
	}

	@media (max-width: $screen-md) {
		.heading-wrapper {
			margin-top: 3em;
		}

		.post-content {
			// font-size: 1rem;

			h1 {
				font-size: 2rem;
			}
		}
	}
</style>
